/* BASE */
:root {
  --color-bg: #0b1622;
  --color-fg: #151f2e;
  --color-button-bg: #3db4f2;
  --color-button-text: #edf1f5;
  --color-text: #9fadbd;
  --color-tag: #d3e7f3;
  --color-tag-active: #81f066;
  --color-tag-rejected: #f06666;
  --color-tag-text: #1b4964;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Roboto', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

[hidden] {
  display: none !important;
}

#cached {
  font-size: 0.5rem;
  position: absolute;
}

#top {
  align-items: center;
  bottom: 1rem;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  left: calc(100vw - 4rem);
  position: fixed;
  text-shadow: var(--color-tag) 0 0 0.25em;
}

/* SETTINGS */
.settings {
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin: 0.5em;
  row-gap: 0.25em;
  text-align: center;
}
.settings > span {
  background-color: var(--color-fg);
  border-radius: 5px;
  padding: 0 0.5em;
  width: fit-content;
}
input,
select {
  background-color: var(--color-bg);
  border-radius: 5px;
  color: var(--color-text);
}
#username:disabled {
  color: var(--color-bg);
}
button {
  background-color: var(--color-button-bg);
  border-radius: 5px;
  border-style: none;
  color: var(--color-button-text);
  cursor: pointer;
  padding: 0.25em 0.5em;
}
#active-tags {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgb(from var(--color-bg) r g b / 0.8);
  top: 0;
  width: 100%;
  z-index: 10;
}

/* CONTAINER */
.container {
  left: 10%;
  position: absolute;
  text-align: center;
  width: 80%;
}

.header {
  border: 0 none;
  text-align: center;
}
.header > .title {
  margin-top: 0.5em;
}

/* ENTRIES */
.entry {
  border: 2px solid var(--color-fg);
  border-radius: 10px;
  display: grid;
  grid-template-areas: 'cover titles details' 'sources titles details';
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  /* column-gap: 10px; */
  /* row-gap: 3px; */
  margin-bottom: 1em;
  padding: 4px;
  position: relative;
}
.entry > div {
  padding: 1.5px 0.5em;
}
.entry:nth-child(even of :not([hidden])) {
  background-color: var(--color-fg);
}
.entry:nth-child(even of :not([hidden])) .ignore {
  border-color: var(--color-fg);
}

.ignore {
  background-color: var(--color-tag-text);
  border-color: var(--color-bg);
  border-radius: 100%;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
  font-weight: bolder;
  height: 1.5em;
  line-height: 1.5rem;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.5em;
}

#tag-filter {
  background-color: var(--color-button-bg);
  border-radius: 10%;
  cursor: pointer;
  display: flex;
  font-size: larger;
  gap: 1em;
  padding: 0.5em;
  position: absolute;
}
/* COVER AND RECOMMENDATIONS */
.cover {
  grid-area: cover;
}
.recs {
  grid-area: sources;
}
.cover,
.recs {
  border-width: 1px 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
}
.cover a {
  color: var(--color-text);
  text-decoration: none;
}
.cover p {
  margin-top: 0;
}
img {
  border-radius: 3%;
}

/* TITLES */
.titles {
  /* LANDSCAPE LAYOUT */
  grid-area: titles;
}
.title {
  /* PORTRAIT LAYOUT */
  display: none;
  grid-area: title;
  margin: auto 2.5em auto 2.5em;
}
.alt-titles {
  /* PORTRAIT LAYOUT */
  display: none;
  grid-area: alt-titles;
}
.title h3,
.titles h3 {
  font-weight: 400;
}
.licensed {
  font-style: italic;
}

.titles > div,
.details > div {
  margin: 0;
  position: relative;
  text-align: justify;
  top: 50%;
  transform: translateY(-50%);
}
.title > div > p,
.details > div > p {
  margin: 0;
}

/* DETAILS */
.details {
  grid-area: details;
}
.details > div {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  padding-top: 2.5em;
}

/* TAGS */
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tag {
  background-color: var(--color-tag);
  border-radius: 10px;
  color: var(--color-tag-text);
  cursor: pointer;
  display: inline-block;
  margin: 0.25em;
  padding: 0.25em;
}
.tag.filtered {
  background-color: var(--color-tag-active);
}
.tag.rejected {
  background-color: var(--color-tag-rejected);
  color: var(--color-tag);
}

/* PORTRAIT OVERRIDES */
@media only screen and (max-width: 961px) {
  .settings,
  input,
  select,
  button {
    font-size: 0.75rem;
  }
  .header {
    display: none;
  }
  .container {
    left: 5%;
    width: 90%;
  }
  .entry {
    grid-template-areas: 'title' 'cover' 'sources' 'alt-titles' 'details';
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  }
  .titles {
    display: none;
  }
  .title,
  .alt-titles {
    display: unset;
  }
  .title > div > p {
    margin-bottom: 1.5em;
  }
  .details > div {
    padding-top: 0;
  }
}
